<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kto jutro do 5?</title>
  </head>
  <body>
    <h1>Kto jutro do 5?</h1>
    <div>Dziś jest {{ .Day }} dzień miesiąca, a jutro nie</br></br></div>

    <form action="tdb">
    <table>
      <tr>
        <th>kto?</th>
        {{range .Week}}
        <th>{{.}}</th>
        {{end}}
      </tr>
      {{with .Tables}}
      {{ range .}}
        <tr>
          <td>{{.Name}}</td>
            {{ range .Value}}
              <td>{{if eq . true}}<input type="checkbox" name="value" checked>{{else}}<input type="checkbox" name="value">{{end}}<br></td>
            {{end}}
        </tr>
      {{end}}
      {{end}}
    </table>
    <br>
    <input type="submit" value="Submit">
    </form>
  </body>
</html>
